.fade-out {
  animation: fadeout 6s;
}

.fade-in {
  animation: fadeIn ease 10s;
  display: flex;
  justify-content: center;
}

.fade {
  opacity: 0;
  animation: fade 4s linear;
  animation-delay: 4s;
}

.displaynone {
  display: none !important;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

nb-layout-header {
  font-size: xx-large;
  font-family: "Arvo", Georgia, Times, serif;
  font-style: italic;
}

nb-layout-column {
  padding: 2.25rem 1.25rem 0.75rem !important;
}

#center {
  color: #ccc;
  text-shadow: 1px 1px 5px black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#title {
  font-size: 2.5rem;
}
#tag {
  display: none;
}
#score {
  font-size: 3rem;
  font-weight: bolder;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lives {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
  nb-icon {
    font-size: 3rem;
  }
}

.main-screen {
  width: 100%;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .bubble {
    position: absolute;
    background: mintcream;
    border: 0.1875em solid #0f1c3f;
    border-radius: 50%;
    box-shadow: 0.275em 0.275em 0 0 rgba(0, 0, 0, 0.384);
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.392);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 3.5rem;
    color: black;
  }
}

.back:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(112, 92, 199, 0.274);
  transition: all 600ms;
}

.back:active {
  background-color: #0d122c;
  box-shadow: 0 5px rgb(184, 184, 184);
}

.back {
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: rgba(174, 53, 255, 0.678);
  background-color: rgba(73, 73, 73, 0.11);
  border-radius: 5px;
  padding: 0.2em;
  position: absolute;
  right: 50px;
  width: 5em;
  margin-bottom: 0.2em;
}

.whiteKey {
  width: 100px;
  height: 360px;
  background-color: mintcream;
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
  outline: none;
  cursor: pointer;
}

.blackKey {
  position: absolute;
  width: 3.5rem;
  height: 240px;
  background-color: black;
  border: 3px solid black;
  border-radius: 0 0 2px 2px;
  outline: none;
  cursor: pointer;
}

.dbKey {
  left: 16.1em;
}

.ebKey {
  left: 22.5em;
}

.gbKey {
  left: 35.3em;
}

.abKey {
  left: 41.65em;
}

.bbKey {
  left: 48.2em;
}

.dbKey1 {
  left: 61em;
}
.ebKey1 {
  left: 67.4em;
}

.gbKey1 {
  left: 80.1em;
}

.abKey1 {
  left: 86.5em;
}

.bbKey1 {
  left: 93em;
}

.whiteKey:hover {
  background-color: rgb(200, 211, 211);
}

.blackKey:hover {
  background-color: #202020;
}
