<nb-layout>
  <nb-layout-header>Find the note ♫♫♫</nb-layout-header>
  <nb-layout-column>
    <div>
      <button class="menubutton" (click)="navToGame()">Start Game</button>
      <br />
      <button class="menubutton" (click)="navToLeaderboards()">
        Leaderboards
      </button>
      <br />
      <button class="menubutton" (click)="navToInstructions()">
        Instructions
      </button>
    </div>
  </nb-layout-column>
  <nb-layout-footer>Created by Sotiris Kountouriotis</nb-layout-footer>
</nb-layout>
