<nb-layout>
    <nb-layout-header>Find the note ♫♫♫</nb-layout-header>
    <nb-layout-column>
        <button class="back" (click)="navToMainMenu()">Go back</button>
        <h1>How to play this game</h1>
        <h2>Main Purpose</h2>
        <p>Random musical notes will pop up! You will have 5 seconds to click 
            on each one using the piano. The piano will have two sets of note, known as octaves, 
            meaning that each note will appear at least two times!
        </p>
        <h2>Basic Music Knowledge</h2>
        <p>Each octave has all the natural notes which are: A,B,C,D,E,F,G .
            These notes are the <span>white keys</span> on the piano.
        </p>
        <p>The <span>black keys are the half-tones</span> and there are five of them! Half-tones 
            are half-step above or below a natural note. Two symbols determine these notes, 
            the "#" sharp, that means <span>half-step higher</span> , and the "b" flat, that means <span>half-step
            lower.</span></p> 
        <p>E.g. a "Gb" , G flat note that is the black key before the G note and after the F note.
            The Gb is the same key as the F#, meaning that in some cases the same key can 
            be two different but same sounding notes. There are 5 half-tone notes.</p>
        <p>An octave starts with an E note, and the other notes follow alphabetically 
            meaning the order is like this: "E,F,G,A,B,C,D".</p>

    </nb-layout-column>
    <nb-layout-footer>Created by Sotiris Kountouriotis</nb-layout-footer>
</nb-layout>