nb-layout-header {
    font-size: xx-large;
    font-family: "Arvo", Georgia, Times, serif;
    font-style: italic;
  }
  
div {
    margin: auto;
    padding: 3rem;
  }

h1{
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2em;
  letter-spacing: -2px;
  border-bottom: 2px solid rgb(231, 211, 211);
  text-transform: uppercase;
  }
  
h2{
    font-size: 1.3em;
    font-family: "Trebuchet MS", sans-serif;
    font-style: italic;
    text-decoration: underline;
  }

p {
  font-size: 1.1em;
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.02em;
  }

span {
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.back:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(112, 92, 199, 0.274);
    transform: scale(1.03);
    transition: all 600ms;
}

.back:active {
    background-color: #0d122c;
    box-shadow: 0 5px rgb(184, 184, 184);
    transform: translateY(4px);
}

.back{
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: rgba(174, 53, 255, 0.678);
    background-color: rgba(73, 73, 73, 0.11);
    border-radius: 5px;
    padding: 0.2em;
    position: absolute;
    right: 50px;
    width: 5em;
    margin-bottom: 0.2em;
}
